#red-block {
    height: 100px;
    width: 100px;
    background-color: red;
}

#blue-block {
    height: 100px;
    width: 100px;
    background-color: blue;
}

#green-block {
    height: 100px;
    width: 100px;
    background-color: green;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}